        <%- include('../partials/head.ejs') %>
		<title>Dashboard | Random Jobs</title>
		<%- include('../partials/dashboardNav.ejs') %>
	
    

	<!--	<!-- Main jumbotron for a primary marketing message or call to action 
		<section class="inner-banner" style="backend:#242c36 url(https://via.placeholder.com/1920x600)no-repeat;">
			<div class="container">
				<div class="caption">
					<h2><%= user.name %></h2>
					<p><%= user.userOccupation %></p>
				</div>
			</div>
		</section>


		<section class="profile-detail">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="basic-information">
							<div class="col-md-3 col-sm-3">
							     <img src="img/user.jpg" alt="" class="img-responsive">
							</div>
							<div class="col-md-9 col-sm-9">
								<div class="profile-content">
										<ul class="information">
											<li><span>Name:</span><%= user.name %></li>
											<li><span>Email:</span><%= user.email %></li>
											<li><span>Phone:</span><%= user.phone %></li>
											<li><span>Age:</span><%= user.age %></li>
                                            <li><span>User Type:</span><%= user.usertype %></li>
                                            <li><span>Address</span></li>
                                            <li><span>Thana:</span><%= user.address.thana %></li>
                                            <li><span>District:</span><%= user.address.district %></li>
										</ul>
									</div>
								</div>
							 <ul class="social">
								<li><a href="" class="facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
								<li><a href="" class="linkedin"><i class="fa fa-linkedin"></i>Linked In</a></li>
							</ul> 
                        </div>
					</div>
				</div>
			</div>
		</section>
	-->
        <%- include('../partials/footer.ejs') %>	
